 body{
            font-family: sans-serif;
            margin:0;
        }
        
        #topbar{
            background-color: #3B5998;
            width: 100%;
            height: 100px;
            color: white;
        }
        
        .fixedwith{
            width: 1000px;
            margin: 2;
           
        }
        
        
        #logodiv{
           width="520" height="340"
            padding-top: 5px;
            float:left;
            border-right:1px solid #FFFFFF;
            padding-right: 10px;
        }
        #singnindiv{
            font-weight: bold;
            padding: 6px 0px 0px 30px;
            font-size: 0.9em;
            padding-left: 50px;
            float:left;
            border-right: 1px solid #FFFFFF;
            height:100%;
            padding: 10px 20px 12px 20px;
            float:left:
            
        }
        
        #signindiv img{
            position:relative;
            top:3px;
        }
        
        #topmenudiv {
             float:left;
        }
          
        #topmenudiv ul{
            margin: 0px;
            padding:0;
           
        }
        #topmenudiv li{
            list-style: none;
            font-weight: bold;
            font-size: 20px;
             padding: 0 20px 0 20px;
           border-right: 1px solid white;
             float:left;
             background-color: none;
        }
        
        #searchdiv{
            float:right;
            padding: 5px 0 0 10px;
        }
        #searchdiv input{
            height: 25px;
            border: none;
            font-size: 1em;
            padding-left:10px;
            background-image: url('Images/magnify.png');
            background-repeat: no-repeat;
            background-position: center;
            
        }
        
        .break{
            
            clear:both;
        }
        
        
        #newsbar{
            background-color: #F1F1F1;
            width:100%;
            height: 90px;
            color: white;
        }
        #newsbar p{
            margin:0;
            padding:0;
            padding-top: 10px;
            float:left;
            
        }
        
        #newsheader {
            font-size: 3em;
            color: black;
            
        }
        #pr{
            font-size: 0.7em;
            padding-left: 10px;
        }
        
       
        
        #topicmenu ul{
            background-color: #3E0C0D;
            padding: 5px 0 0 5xp;
            margin:0;
            height: 20px
            
        }

        .selected{
            background-color: aliceblue;
            color:#666666;
            
            height: 20px;
            position: relative;
            top:-4px;
            padding-top: 4px !important;
        }
        
        #content{
            height: 500px;
            width:500px;
            
            color: #5A5A5A;
            font-size: 0.75em;
        }
        
        h1{
            color: cadetblue;
            
        }
        #shoe img{
          height: 150px;
            width: 200px;    
        }
        .tablestyle{
        height: 150px;
        width: 200px; 
        margin: 0 auto 0 auto
        }
        .imgsize{
         height: 160px;
         width: 200px;
        }
        .current_page-item a {
        color: #39c;
        }
        .default a {
        color: white;
        }